#wrap{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
}

header{
    height:150px;
}

.contents {
    width: 700px;
    height: 500px;
    border: solid;
    border-color: #dddddd;
}

.content{
    width: 600px;
}


.main-content{
    width: 1000px;
}

.main-post{
    width:1000px;
}

.main-menu{
    width: 200px;
    height: 700px;
    background-color: #dddddd;
    font-weight: bold;
    font-size: large;
}

.nav{
    height : 250px;
}

.photo{
    height: 400px;
    width: 600px;
}