<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<section layout:fragment="contents" class="d-flex justify-content-center">
    <div class="content">
        <div class="d-flex justify-content-center">
            <div class="photo bg-secondary mt-3">
                <input type="file" >
            </div>
        </div>
        <div class="mt-3">게시글 작성</div>
        <textarea class="form-control mt-2" rows="7" placeholder="캡션 추가..." id="contentsInput"></textarea>
        <div class="d-flex justify-content-between mt-2">
            <a href="/post/timeline" class="btn btn-secondary">돌아가기</a>
            <button type="button" class="btn btn-secondary" id="saveBtn">저장</button>
        </div>
    </div>

</section>

<script layout:fragment="script">
    $("#saveBtn").on("click",function(){
        let contents = $("#contentsInput").val();

        if(contents == ""){
            alert("내용을 입력하세요");
            return;
        }

        $.ajax({
            type:"post"
            ,url:"/post/write-process"
            ,data: {"contents" : contents}
            ,success:function(response){
                if(response.result = "success"){
                    location.href = "/post/timeline"
                } else{
                    alert("게시글 작성 실패")
                }
            }
            ,error:function(){
                alert("게시물 작성 에러")
            }
        })
    })


</script>